<div ng-controller="LicensesCtrl" class="container-fluid" ng-animate="'animate'">

    <div class="row">
        <div class="col-xs-12">
            <h2 class="moduleHeader">
                Service Licenses 
            </h2>
            <h4>that can be acquired by the "{{user_name}}" user</h4>           
        </div>
    </div>

    <div class="col-md-12 m-t-20" >

        <div class="row moduleContainer" >
             <div ng-if="!pagedLicenses.length" class="alert alert-block alert-info">
                <span class="pull-right close" data-dismiss="alert"></span>
                <h4 class="alert-heading">INFO</h4>
                There are no Licenses here!
            </div>      

            <table class="table table-striped table-hover table-bordered dataTable">
            <thead>
                <tr role="row">                    
                    <th role="columnheader" ng-click="sort='id';reverse=!reverse">Related Service Name</th>
                    <th role="columnheader" ng-click="sort='id';reverse=!reverse">License Type</th>
                    <th role="columnheader" ng-click="sort='id';reverse=!reverse">License Use</th>                    
                    <th role="columnheader" ng-click="sort='instanceId';reverse=!reverse">Already Acquired</th>
                    <th role="columnheader" class="actionTH">Actions</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" right-menu id="rightContextMenu">                                    
                    <tr ng-repeat="license in pagedLicenses" ng-animate="''" ng-mouseover="showPopover(license)" ng-mouseleave="hidePopover()">
                        <td>{{ license['service_name'] }}</td>
                        <td>{{ license['license_type'] }}</td>
                        <td>{{ license['license_use'] }}</td>
                        <td>{{ license['already_purchased'] }}</td>
                        <td>
                            <button class="btn btn-success btn-xs" tooltip-init
                            data-toggle="tooltip" data-placement="top" title="Show details" ng-click="openDetailedLicense(license)">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button class="btn btn-danger btn-xs" tooltip-init
                            data-toggle="tooltip" data-placement="top" title="Request License"
                            ng-click="showModalRequestingLicense(license['service_id'])" ng-show="((license['already_purchased'] | uppercase) == 'NO')">
                                <i class="glyphicon glyphicon-play"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>                                          
    </div>
    <div paging
        class="small"
        page="currentPage" 
        page-size="pageSize" 
        total="totalRecords"
        show-prev-next="true"
        show-first-last="true"
        text-next-class="glyphicon glyphicon-chevron-right"
        text-prev-class="glyphicon glyphicon-chevron-left"
        text-first-class="glyphicon glyphicon-backward"
        text-last-class="glyphicon glyphicon-forward"
        paging-action="clickPageButton(page)">
    </div> 

    <ng-include src="'modules/Licenses/views/detailedLicense.html'"></ng-include>
    <ng-include src="'modules/NSD/nSD/views/getLicense.html'"></ng-include>
    <ng-include src="'modules/NSD/nSD/views/getLicenseResponse.html'"></ng-include>
    <ng-include src="'modules/common/error.html'"></ng-include>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</div>